.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
}

.twitter {
  display: inline-block;
  padding: 0.3rem;
  background-color: rgb(136, 199, 255);
  border-radius: 6px;
  color: white;
}

.wordPage {
  min-height: 80vh;
}

.titles {
  width: 550px;
}

.order {
  list-style: none;
}

.list {
  padding: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}