.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
}

.twitter {
  background-color: rgb(136, 199, 255);
  border-radius: 5px;
  color: azure;
}

.wordPage {
  min-height: 80vh;
}

.titles {
  display: inline-block;
  width: 550px;
}