.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
}

.main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  max-width: 1000px;
}

.quoteInfo {
  font-size: larger;
  font-weight: 400;
}

.twitter {
  background-color: rgb(136, 199, 255);
  border-radius: 5px;
  color: azure;
}

.wordPage {
  min-height: 80vh;
}