.container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.principle {
  margin-left: 2rem;
  text-align: center;
}

@media(max-width: 600px) {
  .intro {
    flex-direction: column;
    margin-top: 2rem;
  }
  .principle {
    margin: 0;
  }
}