.container {
  min-height: 70vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
}

.main {
  min-height: 60vh;
  /* min-width: 500px; */
  display: flex; 
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.twitter {
  background-color: rgb(136, 199, 255);
  border-radius: 5px;
  color: azure;
}

.wordPage {
  min-height: 80vh;
}

.titles {
  display: inline-block;
  width: 550px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 800px;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.select {
  max-width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.selectYear {
  border: 1.5px solid #eaeaea;
  border-radius: 10px;
  height: 40px;
  width: 70px;
  margin-right: 2rem;
}

.selectYear:hover {
  cursor: pointer;
}

.button {
  border: 1.5px solid #eaeaea;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: 35px;
  width: 80px;
}

.button:hover {
  cursor: pointer;
  color: #0070f3;
  border: 1.5px solid #0070f3;
}