.header {
  text-align: center;
}

.version {
  font-weight: lighter;
  border: 1px solid white;
  background-color: #faadad;
  color: white;
  padding: 3.5px;
  border-radius: 8px;
  font-size: 0.7rem;
  margin-left: 0.2rem;
}

.nextVersion {
  font-weight: lighter;
  border: 1px solid white;
  background-color: #adb8fa;
  color: white;
  padding: 3.5px;
  border-radius: 8px;
  /* font-size: 0.7rem; */
  /* margin-left: 0.2rem; */
}

